
.DS_Store

*.pyc

tools/r/.Rhistory

data/bht2csv/hack/csmr_papers.csv

data/bht2csv/misc/ase_papers_2013.csv

data/bht2csv/misc/ase_papers_2013n.csv

data/bht2csv/hack/ase_papers.csv

data/bht2csv/hack/fase_papers.csv

data/bht2csv/hack/fse_papers.csv

data/bht2csv/hack/gpce_papers.csv

data/bht2csv/hack/icpc_papers.csv

data/bht2csv/hack/icse_papers.csv

data/bht2csv/hack/icsm_papers.csv

data/bht2csv/hack/msr_papers.csv

data/bht2csv/hack/scam_papers.csv

data/bht2csv/hack/wcre_papers.csv

data/bht2csv/misc/ase_papers_copy.csv

data/bht2csv/misc/csmr_papers_2013.csv

data/bht2csv/misc/csmr_papers_2013n.csv

data/bht2csv/misc/csmr_papers_copy.csv

data/bht2csv/misc/fase_papers_2013.csv

data/bht2csv/misc/fase_papers_2013n.csv

data/bht2csv/misc/fase_papers_copy.csv

data/bht2csv/misc/fse_papers_2013.csv

data/bht2csv/misc/fse_papers_2013n.csv

data/bht2csv/misc/fse_papers_copy.csv

data/bht2csv/misc/gpce_papers_copy.csv

data/bht2csv/misc/icpc_papers_2013.csv

data/bht2csv/misc/icpc_papers_2013n.csv

data/bht2csv/misc/icpc_papers_copy.csv

data/bht2csv/misc/icse_papers_2013.csv

data/bht2csv/misc/icse_papers_2013n.csv

data/bht2csv/misc/icse_papers_copy.csv

data/bht2csv/misc/icsm_papers_2013.csv

data/bht2csv/misc/icsm_papers_2013n.csv

data/bht2csv/misc/icsm_papers_copy.csv

data/bht2csv/misc/msr_papers_2013.csv

data/bht2csv/misc/msr_papers_2013n.csv

data/bht2csv/misc/msr_papers_copy.csv

data/bht2csv/misc/scam_papers_2013.csv

data/bht2csv/misc/scam_papers_2013n.csv

data/bht2csv/misc/scam_papers_copy.csv

data/bht2csv/misc/wcre_papers_2013.csv

data/bht2csv/misc/wcre_papers_2013n.csv

data/bht2csv/misc/wcre_papers_copy.csv

data/normalised-papers/hack/ase.csv

data/normalised-papers/hack/csmr.csv

data/normalised-papers/hack/fse.csv

data/normalised-papers/hack/gpce.csv

data/normalised-papers/hack/icse.csv

data/normalised-papers/hack/icpc.csv

data/normalised-papers/hack/fase.csv

data/normalised-papers/hack/icsm.csv

data/normalised-papers/hack/msr.csv

data/normalised-papers/hack/scam.csv

data/normalised-papers/hack/wcre.csv

data/temp/gpce-authors.csv

data/temp/map_ase.csv

data/temp/map_csmr.csv

data/temp/map_fase.csv

data/temp/map_fse.csv

data/temp/map_icpc.csv

data/temp/map_icse.csv

data/temp/map_icsm.csv

data/temp/map_msr.csv

data/temp/map_scam.csv

data/temp/map_wcre.csv

data/bht2csv/misc/gpce_papers_2013.csv

data/bht2csv/misc/gpce_papers_2013n.csv

tools/python/queryDB_2.py

tools/r/measures2.r

tools/r/prestige.r

tools/r/systa.r

tools/r/trend.r

tools/r/visualization2.r

visualisation/RAC0-part.pdf

visualisation/RNC1-part.pdf

visualisation/river_C.pdf

visualisation/sideBySide.pdf

visualisation/tld_C.pdf

data/bogdan.mac.err

tools/r/survey_responses.r

tools/python/populateDBGender.py

tools/r/.RData

tools/python/metricsExperimental.py

tools/python/metricsExperimental.py
